@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"); /*koristenje fonta*/


:root{
    --gradient: linear-gradient(90deg, #FFFFFB, #5B5F97); /*definiranje nove boje koja je prelaz izmedju 2*/
}
*{ /*definisan font i margine, te bez ivica*/
font-family: 'Poppins', sans-serif; 
margin: 0;
padding: 0;
box-sizing: border-box;
border: none;
outline: none;
text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;
}
 


 *::selection{       
    background:#B8B8D1;
    color:  #FFFFFB;
   
 }
 html{      /*unutar html tagova*/
    font-size: 58%;
    overflow-x: hidden;
 }

 html::-webkit-scrollbar{ /*definiranje širine scrollbar-a*/
    width: 1.5rem;

 }
  html::-webkit-scrollbar-track{ /*redak scrollbar-a je bijeli*/
    background:#FFFFFB ;
    
 }
 html::-webkit-scrollbar-thumb{     /*kursor scrollbar-a*/
    background: linear-gradient(#5B5F97, #FFFFFB); }

  body{ /*unutar body tagova ista je slika pozadine*/
       
        background: url('slike/139.jpg');
        background-size: cover;
    }



header{ /*definisanje zaglavlja*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    padding: 1.5rem 7%;
    background: var(--gradient);
    box-shadow: 0.1rem .3rem rgba(0, 0, 0, .3);
}

 header .dimenzije{ /*dimeznije navbara*/

width: 100px;
height: 60px;
border: 5px;

 }

header .navbar ul{ /*definirane neodređene liste u navbaru*/
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;

}

header .navbar ul li{ /*definisanje stavki liste unubar navbara*/
    margin: 0 2rem;
}

header .navbar ul li a{ /*linkovi u navbaru*/
    font-size: 2rem;
    color:#FFFFFB ;
    font-weight: bolder;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{ /*prelaz preko linkova i oni mijenjaju boju*/
   color: #FFC145;
}

header #login{  /*velicina slova i boja u dijelu prijave*/
    font-size: 3rem;
    color:#FFFFFB ;
    cursor: pointer;

}

header #login:hover{ /*mijenjanje boje poslije prelaza*/
    color: #FFC145;
}

header #menu{  /*menu dio u zaglavlju*/
    font-size: 3rem;
    color:#5B5F97 ;
    cursor: pointer;
    display:none ;
}
header #menu:hover{ /*menu mijenja boju nakon prelaska miša*/
    color: #FFC145;
}


 .login-form{  /*login forma*/
    height:100%;
    width:100%;
    position: fixed;
    top:-120%; left: 0;
    z-index: 1000;
    background:rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form.popup{ /*prikaz login forme*/
    top:0;
}

.login-form form{  /*definisanje form taga*/
    width:35rem;
    background:#FFFFFB;
    margin:0 2rem;
    padding:1rem 3rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .3rem #333;
    position: relative;
}

.login-form form h3{ /*font h3 unutar forme*/
    font-size: 3rem;
    color:#B8B8D1;
    padding:1rem 0;
}

.login-form form .box{ /*box klasa unutar form taga*/
    width:100%;
    padding:1rem 0;
    margin:1rem 0;
    border-bottom: .2rem solid #B8B8D1;
    font-size: 1.6rem;
    color:black;
    text-transform: none;
}

.login-form form .box::placeholder{ /*placeholder tekst unutar inputa je prikazan kako je unesen*/
    text-transform: none;
}

.login-form form .box:focus{
    border-color: #FFC145;
}

.login-form form .box:nth-child(3){
    margin-bottom: 5rem;
}

.login-form form p{ /*paragraf u form tagu*/
    font-size: 1.4rem;
    color:#5B5F97;
    padding:.5rem 0;
}

.login-form form p a{ /*linkovi paragrafa unutar form taga*/
    text-transform: none;
    color:#5B5F97;
    font-weight: bolder;
}

.btn{  /*klasa za dizajn dugmadi*/
    padding: 1rem 3rem;
    font-size: 2rem;
    color: #fff;
    background: #5B5F97;
    margin-top: 1rem;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0.1rem .3rem rgba(0, 0, 0, .3);
    vertical-align: center;
    align-content: center;
    position: relative;
    z-index: 0;
    overflow: hidden;

}
.btn::before{ /*dugme prije nego sto se aktivira*/
    content: '';
    position: absolute;
    top: -1rem;
    left:-100%;
    background: #fff;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;

}

.btn:hover::before{ /*dugme sa hover prelaskom*/
    transition: .5s linear;
    left: 120%;

}
.login-form form .btn{ /*dugme login polja*/
    width: 100%;
    margin:2rem 0;

}

.login-form form .btn:hover{ /*promjena dugmeta*/
    background:#FFC145;
}

p.dodatak:hover{   /*dodatak za podebljana i kosa slova*/
    font-weight:bold;
    font-style: italic;
}
.login-form form .fa-times{ 
    position: absolute;
    top:1.5rem; right:2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color:#999;
}

.login-form form .fa-times:hover{
    color:#444;
}


@media(max-width: 768px){ /*media pravilo određuje ponašanje stranice kao interaktivne*/
    html{
    font-size: 50%;       /*s ovim će se cijeli html stranice prilagođavati ukoliko se smanji ili poveća prozor browsera*/
    overflow-x: hidden;
 }

 header #menu{  /*menu se ispise u blokovima*/
    display: block;
 }


 header .navbar{ /*navbar se svrsta u jednu padajucu listu*/
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background: #5B5F97;
 }


header .navbar ul{  /*u zaglavlju se nalazi menu kada se smanji prozor browsera*/
    flex-flow: column;
    padding: 2rem 0;
}

header .navbar ul li{ /*tekst je centraliziran*/
    margin: 1.5rem 0;
    text-align: center;
    width: 100%;
}

header .navbar ul li a{ /*linkovi su prikazani u blokovima*/
    font-size: 2.5rem;
    display: block;
} 

header .navbar ul li a.active,  /*prelaskom linkovi mijenaju boju*/
header .navbar ul li a: hover{
    color: #FFFFFB; }


.fa-times{
        transform: rotate(180deg); /*na klik na dugme menu ili x ono se okrene*/
    }

    header .navbar.nav-toggle{
        top:6.4rem;
    }}



section{ /*klasa za tag sekcije*/
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}

.heading{ /*klasa za naslove gdje je definisana boja ppzadine i velicina slova,te centralno poravnanje*/
    background:#5B5F97 ;
    padding: 1rem;
    font-size: 3.3rem;
    text-align: center;
    color: #FFFFFB;

}
.home{ /*klasa ima sliku pozadine,elementi su centralizirani*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url('slike/139.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    

}


.home h1{/*font unutar home-a je siva i velicine 6 rema*/
    font-size: 6rem;
    color:#666;
}

.home p{ /*paragraf ima velicinu slova 1.9rem i širine 70rem*/
    font-size: 1.9rem;
    color:#999;
    padding:1rem 0;
    width:70rem;
}

.home .shape{ 
    position: absolute;
    bottom:-.2rem; left: 0;
    height:15rem;
    width:100%;
    background:url(slike/139.jpg);
    block-size: 100rem 15rem;
    filter: drop-shadow(0 -.1rem .1rem rgba(0,0,0,.2));
    animation: animate 10s linear infinite;
}

@keyframes animate{ /*keyframe pravilo koristi se kod animacije gdje se prelazi iz jedne css klase u drugu*/

    0%{
        background-position-x: 0rem;
    }

    100%{
        background-position-x: 100rem;
    }

}

.about{ /*dizajn sekcije o nama,ima centraliziran sadržaj*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.about .image{ /*dimenzije prostoranja slike u o nama sekciji*/
    flex:1 1 40rem;
}

.about .image img{ /*dimenzije slike*/
    height:65vh;
    width:100%;
}

.about .content{/*dizajn sadržaja tj teksta u sekciji o nama*/
    flex:1 1 40rem;
    background: white;
        text-transform: none;
        text-align: justify;
        height:65vh;

}

.about .content h3{ /*font h3 u sadržaju sekcije o nama*/
    font-size: 3.5rem;
    color:#5B5F97;
    text-align: center;

}

.about .content p{ /*paragraf dijelovi u sekciji o nama,velicina,boja,razmak*/
    font-size: 1.5rem;
    color:#5B5F97;
    padding:1rem 0;
        text-transform: none;

    

}

.about .content .t p{ 
    font-size: 1rem;
}

.course .box-container{ /*u ovom box-container su stavljeni sadržaji,slike i ostale informacije o kursu*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.course .box-container .box{/*ovo je 'kutija' unutar 'kutije' koja sadrži sliku*/
    width:35rem;
    border:.1rem solid rgba(0,0,0,.3);
    position: relative;
    margin:1.5rem;  
        background: #FFFFFB;

}

.course .box-container .box img{ /*tag za sliku definisane visina i sirina slike*/
    height:20rem;
    width: 100%;
    object-fit: cover;
}

.course .box-container .box .content{/*sadržaj unutar boxa*/
    padding:1rem;
}

.course .box-container .box .content .stars i{/*dizajn font awesome ikona */
    color:#f39c12;
    font-size: 1.7rem;
    padding:1rem .1rem;
}

.course .box-container .box .content .title{/*dizajn naslova u boxu kursa,velicina i boja*/
    color:#444;
    font-size: 2.1rem;
}

.course .box-container .box .content .title:hover{/*kad se pređe kursorom preko naslova on se podvuče*/
    text-decoration: underline;
    font-weight: bolder;
}

.course .box-container .box .content p{/*paragraf dio unutar sadržaja boxa kurseva*/
    padding:1rem 0;
    color:#666;
    font-size: 1.5rem;
    text-transform: none;
    text-align: left;
}

.course .box-container .box .content .info{/*informacije o kursu*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}

.course .box-container .box .content .info h3{/*font koristen u infomracijama*/
    font-size: 1.5rem;
    padding:1rem;
    color:#666;
}

.course .box-container .box .content .info h3 i{/*dizajn ikona*/
    color:#f39c12;
}

.course .box-container .box .price{/*dio sa cijenom,visina,sirina,boja..*/
    position: absolute;
    top:16rem; right:1rem;
    height:8rem;
    width:8rem;
    line-height: 8rem;
    text-align: center;
    border-radius: 50%;
    background:var(--gradient);
    color:#fff;
    font-size: 3rem;
}


.tuts{ /*dio sa tutorijalima,boja pozadine*/
    background:var(--gradient);
    height: 450px;
    width: 100%;
    display: inline-flex;
    box-shadow: 0 15px 15px rgba(0,0,0,0.3);
}

.tuts .videos{/*velicine dijela gdje su videi*/
    width: 20%;
    padding: 10px;
    padding-right: 0;
}

.tuts .videos video{/*dimenzije videa*/
    width: 100%;
    object-fit: cover;
    height: 105px;
    padding: 10px;
    cursor: pointer;

}

.tuts .videos video:hover{ /*kad se klikne na video poveca se*/
    transform: scale(1.05);
    border: 3px solid #FFC145;

}


.tuts .main-video{
    width: 80%;
    padding: 10px;
}

.tuts .main-video video{/*dimenzije glavnog videa*/
    height: 100%;
    width: 100%;
    outline: none;
padding: 10px;
object-fit: cover;}

table {   /*visina i sirina tabele*/


width:100% ;
height: 90px;

}
tr{ /*poravnanje,visina i sirina reda u tabeli*/
    height: 25%;
    width: 100%;
    align-content: center;
}

td{ /*velicina,ivice,poravnanje sadrzaja,dimenzije celije u tabeli*/
    align-items: center;
    align-content: center;
    height: 100%;
    width: 40%;
    height: 25%;
    border: 10px;
    vertical-align: center;
    text-align: center;
}


.informacije{ /*klasa definise bijelu pozadinu,centriran sadržaj infomracije o osoblju*/
    background: white;
    border-radius: 12px;
    justify-content: center;
    align-content: center;
    text-transform: none;
}

.imgx{ /*dimenzije profilnih slika kod strucnog osoblja*/
    height: 70%;
    width: 50%;
    border-radius: 50px;}

.ime{ /*velicina i boja teksta kojima su napisana imena*/
    font-size: 4rem;
    color:#666;
    position: center;
}

.k{
    text-align: center;
    font-weight: normal;
}

.no{/*dio koji ne treba imati velika pocetna slova*/
    text-transform: none;
    font-size: 1rem;
}

.spoj{
    column-span: 3;
}

.x{
    width: 100%;
}

.footer{/*podnozje*/
    background:#5B5F97;
}

.footer .box-container{/*odjeljak podnozja*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{/*dio odjeljka podnozja */
    margin:1.5rem;
    text-align: center;
    flex:1 1 25rem;
}

.footer .box-container .box h3{/*font u podnozju*/
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
}

.footer .box-container .box p{/*paragrafi u podnozju*/
    font-size: 1.7rem;
    color:#eee;
    padding:.7rem 0;
}

.footer .box-container .box p i{/*ikone u podnozju*/
    padding-right: .5rem;
    color:#f39c12;
}

.footer .box-container .box a{/*linkovi u podnozju*/
    font-size: 1.8rem;
    display: block;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{/*prelazak kursorom preko linkova*/
    text-decoration: underline;
    color: #f39c12
}

.footer .credit{ /*informacije o adminu,razmak,velicina fonta,pozadina,poravnanje*/
    padding:2rem 1rem;
    font-size: 2rem;
    color:#5B5F97;
    background:white;
    text-align: center;
    font-weight: normal;
    padding-bottom: 9rem;
}

.footer .credit a{/*linkovi u informacijama o adminu*/
    color:#f39c12
}











